<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
  <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo02.jpg" alt="company logo" style="max-height: 50px"/>Room Of Woods</a>
  <button class="navbar-toggler" type="button" data-toogle="collapse" data-target="#navbarExampleDefault" aria-controls="navbarExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>
